.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.login{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tittle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        font-size: 24;
        font-weight: 700;
        margin: 20px 0;
    }
}


.input-error {
    position: relative;
    margin-bottom: 20px;
    input {
        width: 100%;
        font-size: 18px;
        padding: 8px 30px;
        border: 2px solid #ccc;
        outline: none;
        border-radius: 20px;

        &::placeholder {
            font-size: 16px;
        }
        &:focus {
            box-shadow: none;
        }
    }
}

.submit{
    padding: 5px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}