.footer {
    z-index: 1;
    padding: 0 20px;
    display: flex;
    height: 15vh;
    background-color: rgba(236, 202, 158, 50);
    opacity: 0.7;
    
}


.footer-content {
    flex: 1;
    align-items: center;
    display: flex;
    font-style: italic;
    font-size: 14px;
    color: black;
}


@media (max-width: 991.98px) {
    .footer {
        display: none;
        z-index: unset;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .name{
    display: flex;
    justify-content: center;
  }

  .horizontal-line {
    padding: 0px 50px;
    height: 1px; 
    background-color: #333; 
  }