.container{
    padding: 50px 100px;
    font-size: 30;
    font-weight: 500;  
}

.info{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 10px;
    

}
.field{
    min-width: 100px;
    margin-right: 10px;
}
input{
    background-color: #eae7cf !important;
    padding: 2px 10px  !important;
    
}
.edit-btn{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.non-change{
    opacity: 0.5;
    cursor: default !important;
}
