
.content{
    margin: 30px;
    font-size: 30;
    font-weight: 500;
}

.tittle{
    flex:1;
    font-size: 40;
    font-weight: 500;
}
.search{
    flex: 2;
    display: flex;
    flex-direction: row;
    input{
        max-width: 300px;
    }
}
.table{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 20px;
}

.element{
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

.no-result{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color: red;
    size: 20px;

}

.row-tb{
    display: flex;
    flex-direction: row;
    width: 100%;
    .h{
        flex: 15%
    }
    .r{
        flex: 25%
    }
}

.horizontal-line {
    padding: 0px 50px;
    height: 1px; 
    background-color: #333; 
  }

.change-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .page{
        cursor: pointer;
        padding:5px 10px;
        margin: 10px;
        border: 5px solid #ebdac4;
    }
    .active{
        background-color: #c70039;
        color: white;
        font-weight: 500;
    }
}